version: '3'
services:
    web:
        image: nginx:latest
        ports:
            - "80:80"
        volumes:
            - ./nginx.conf:/etc/nginx/conf.d/nginx.conf
            - ./app:/app
    php:
        build:
            context: .
            dockerfile: PHP.Dockerfile
        volumes:
            - ./app:/app
    db:
        image: mariadb:latest
        restart: always
        environment:
            MARIADB_ROOT_PASSWORD: 'admin'
            MARIADB_USER: 'admin'
            MARIADB_PASSWORD: 'admin'
            MARIADB_DATABASE: 'RPEQ'
        volumes:
            - ./mysqldata:/var/lib/mysql
        ports:
            - 3306:3306
volumes:
    mysqldata: {}